<div class="contact">
  <form class="contact-form">
    <input class="contact-form-input" type="text" placeholder="Pesquisar contato">
  </form>

  <div class="contact-container">
    <div class="contact-container-header">
      <strong class="contact-container-header-title">Contatos</strong>

      <button class="contact-container-header-btn">
        Novo
      </button>
    </div>

    <ul class="contact-container-list">
      <li class="contact-card">
        <img class="contact-card-avatar" src="https://images.pexels.com/photos/17719366/pexels-photo-17719366/free-photo-of-face-rosto-cara-retrato.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="">
        <div class="contact-card-info">
          <strong>Luis Felipe N Carva.</strong>
          <small>fulano@gmail.com</small>
          <small>(63) 9 992351977</small>
          <small>28/04/2033</small>

        </div>
      </li>
    </ul>
  </div>
</div>
