.contact {
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem 0;

  &-form {
    input {
      background-color: var(--gray-700);
      height: 3rem;
      width: 100%;
      border-radius: .5rem;
      border: none;
      outline: none;

      padding: 0 1rem;
      color: var(--gray-100);
      font-weight: 400;
    }
  }

  &-container {
    margin-top: 2rem;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        height: 2.5rem;
        padding: 0 1rem;
        border-radius: 10px;
        font-size: 1rem;
        border: 0;
        background-color: var(--primary-500);
        color: var(--gray-50);
        font-weight: 600;
      }
    }

    &-list {
      display: flex;
      flex-direction: column;

      margin-top: 1rem;
    }
  }

  &-card {
    --border-raduis: 5px;
    display: flex;
    gap: 1rem;
    background-color: var(--gray-800);
    padding: 1rem;
    border-radius: calc(var(--border-raduis) + 1rem);

    &-avatar {
      height: 6rem;
      width: 6rem;
      object-fit: cover;

      border-radius: var(--border-raduis);
    }
    &-info {
      display: flex;
      flex-direction: column;
    }
  }
}